 header{background-color: blue;
color: aqua}
display; flex::after
justify-content: space-aroud:{}
.cabecalho-imagem{width: 25%;}
li
    display:inline-block;
margin: 0 16px;
pedding:100px
font-size: 24px

}
hl{
     margin: 0 100px;
     pedding: 250px 0:
     font: size 40px;
}