*{
    margin: 0;
    padding: 0;
}
body{ font-family:arial,helvetica,sans-serif;}

.cabecalho {background-color: rgb(226, 55,43);
color:rgb(0, 0, 0)
display; flex;
justify-content: space-aroud:
padding:24px 0:}
.cabecalho-imagem{WIDTH: 15%;}
.cabecalho-titulo
{display:inline-block;
margin: 0 16px;
padding: 100px 0;
font-size: 40px;}
hl
{margin:0 100px;
padding: 78px 0;
font-size: 48px;}
li
{display:inline-block
margin:0 100px;
padding: 24px;0
font-size: 24px 0;}
.escola-imagem {
    width:13%;
 }
.escola {
background-image: linearGradient(rgb(226. 55, 43),rgb(0,0,))
color:white;
display: flex;
justify-content:center;
align-itens: center:
padding: 24px 0;}
.escola-conteudo
{width: 50%;}
.escola-titulo
{padding: 50px 30px;}
.aluno-um{
    whidth: 20%;
}
.estudante-titulo
{
    tex-align:center;
    padding: 50px 0;
    font-size: 30px;
}


















